In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [23]:
data=pd.read_csv('credit_card.csv')

In [ ]:
sns.heatmap()

In [24]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [25]:
data.dtypes

ID           int64
LIMIT_BAL    int64
SEX          int64
EDUCATION    int64
MARRIAGE     int64
AGE          int64
PAY_1        int64
PAY_2        int64
PAY_3        int64
PAY_4        int64
PAY_5        int64
PAY_6        int64
BILL_AMT1    int64
BILL_AMT2    int64
BILL_AMT3    int64
BILL_AMT4    int64
BILL_AMT5    int64
BILL_AMT6    int64
PAY_AMT1     int64
PAY_AMT2     int64
PAY_AMT3     int64
PAY_AMT4     int64
PAY_AMT5     int64
PAY_AMT6     int64
DEFAULT      int64
dtype: object

In [26]:
data.SEX=data.SEX.map({2: 'Female', 1:'Male'})

In [27]:
data.EDUCATION=data.EDUCATION.map({1:'GraduateSchool', 2:'University', 3:'HighSchool', 4:'Others', 0:'Others', 5:'Others', 6:'Others'})

In [28]:
data.MARRIAGE=data.MARRIAGE.map({1:'Married', 2:'Single', 3:'Others', 0:'Others'})

In [29]:
data['Total_risk_value']=data['PAY_1']+data['PAY_2']+data['PAY_3']+data['PAY_4']+data['PAY_5']+data['PAY_6']

In [30]:
data.PAY_1=data.PAY_1.map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
data.PAY_2=data.PAY_2.map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
data.PAY_3=data.PAY_3.map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
data.PAY_4=data.PAY_4.map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
data.PAY_5=data.PAY_5.map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
data.PAY_6=data.PAY_6.map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})

In [31]:
data.DEFAULT=data.DEFAULT.astype('O')

In [32]:
num_data=data[data.columns[data.dtypes=='int64']]

In [33]:
cat_data=data[data.columns[data.dtypes=='O']]

In [34]:
data.drop(columns='ID', inplace=True)

In [35]:
num_data.columns

Index(['ID', 'LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Total_risk_value'],
      dtype='object')

In [36]:
cat_data.columns

Index(['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'DEFAULT'],
      dtype='object')

In [37]:
cat_col=['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3','PAY_4','PAY_5','PAY_6']
for i in cat_col:
    print('Chisquare Test between DEFAULT and column',i)
    cont_table=pd.crosstab(data['DEFAULT'], data[i])
    chi_sq_Stat, p_value, deg_freedom, exp_freq=st.chi2_contingency(cont_table)
    print(p_value)

Chisquare Test between DEFAULT and column SEX
4.944678999412026e-12
Chisquare Test between DEFAULT and column EDUCATION
1.495064564810615e-34
Chisquare Test between DEFAULT and column MARRIAGE
7.7907203642028e-07
Chisquare Test between DEFAULT and column PAY_1
0.0
Chisquare Test between DEFAULT and column PAY_2
0.0
Chisquare Test between DEFAULT and column PAY_3
0.0
Chisquare Test between DEFAULT and column PAY_4
0.0
Chisquare Test between DEFAULT and column PAY_5
0.0
Chisquare Test between DEFAULT and column PAY_6
0.0

In [38]:
# Significant categorical columns are: SEX, EDUCATION, MARRIAGE, PAY_1 to PAY_6

In [39]:
num_data.columns

Index(['ID', 'LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Total_risk_value'],
      dtype='object')

In [40]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [41]:
model=ols("LIMIT_BAL~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df           F         PR(>F)
DEFAULT   1.190241e+13      1.0  724.068539  1.302244e-157
Residual  4.931144e+14  29998.0         NaN            NaN

In [42]:
model=ols("AGE~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   4.917737e+02      1.0  5.788556  0.016137
Residual  2.548516e+06  29998.0       NaN       NaN

In [43]:
model=ols("BILL_AMT1~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F    PR(>F)
DEFAULT   6.277028e+10      1.0  11.580532  0.000667
Residual  1.625990e+14  29998.0        NaN       NaN

In [44]:
model=ols("BILL_AMT2~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   3.061318e+10      1.0  6.044238  0.013957
Residual  1.519355e+14  29998.0       NaN       NaN

In [45]:
model=ols("BILL_AMT3~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F   PR(>F)
DEFAULT   2.858386e+10      1.0  5.944388  0.01477
Residual  1.442467e+14  29998.0       NaN      NaN

In [46]:
model=ols("BILL_AMT4~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   1.280738e+10      1.0  3.094745  0.078556
Residual  1.241445e+14  29998.0       NaN       NaN

In [47]:
model=ols("BILL_AMT5~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   5.067880e+09      1.0  1.371087  0.241634
Residual  1.108801e+14  29998.0       NaN       NaN

In [48]:
model=ols("BILL_AMT6~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df        F    PR(>F)
DEFAULT   3.070811e+09      1.0  0.86582  0.352123
Residual  1.063941e+14  29998.0      NaN       NaN

In [49]:
model=ols("PAY_AMT6~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   2.681623e+10      1.0  85.089045  3.033589e-20
Residual  9.454016e+12  29998.0        NaN           NaN

In [50]:
model=ols("PAY_AMT5~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   2.127801e+10      1.0  91.429801  1.241345e-21
Residual  6.981287e+12  29998.0        NaN           NaN

In [51]:
model=ols("PAY_AMT4~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df       F        PR(>F)
DEFAULT   2.377647e+10      1.0  97.188  6.830942e-23
Residual  7.338835e+12  29998.0     NaN           NaN

In [52]:
model=ols("PAY_AMT3~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   2.942565e+10      1.0  95.218011  1.841770e-22
Residual  9.270417e+12  29998.0        NaN           NaN

In [53]:
model=ols("PAY_AMT2~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df           F        PR(>F)
DEFAULT   5.464924e+10      1.0  103.291524  3.166657e-24
Residual  1.587127e+13  29998.0         NaN           NaN

In [54]:
model=ols("PAY_AMT1~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   4.377295e+10      1.0  160.40381  1.146488e-36
Residual  8.186220e+12  29998.0        NaN           NaN

In [55]:
# Significant numerical variables are:
# LIMIT_BAL, AGE, BILL_AMT1, BILL_AMT2, BILL_AMT3, PAY_AMT1---PAY_AMT6

In [56]:
# Non-significant numerical variables are:
# BILL_AMT4, BILL_AMT5, BILL_AMT6

In [57]:
# Stats tests for new features extracted

In [58]:
data_new=data.copy(deep=True)

In [75]:
data_new['Avg_Bill_Amt']=(data_new['BILL_AMT1']+data_new['BILL_AMT2']+data_new['BILL_AMT3']+data_new['BILL_AMT4']+data_new['BILL_AMT5']+data_new['BILL_AMT6'])/6

In [76]:
data_new['Avg_Pay_Amt']=(data_new['PAY_AMT1']+data_new['PAY_AMT2']+data_new['PAY_AMT3']+data_new['PAY_AMT4']+data_new['PAY_AMT5']+data_new['PAY_AMT6'])/6

In [61]:
data_new['Apr_outstanding']=data_new['BILL_AMT6']-data_new['PAY_AMT5']
data_new['May_outstanding']=data_new['BILL_AMT5']-data_new['PAY_AMT4']
data_new['Jun_outstanding']=data_new['BILL_AMT4']-data_new['PAY_AMT3']
data_new['Jul_outstanding']=data_new['BILL_AMT3']-data_new['PAY_AMT2']
data_new['Aug_outstanding']=data_new['BILL_AMT2']-data_new['PAY_AMT1']

In [77]:
data_new['Avg_outstanding']=(data_new['Apr_outstanding']+data_new['May_outstanding']+data_new['Jun_outstanding']+data_new['Jul_outstanding']+data_new['Aug_outstanding'])/5

In [63]:
data_new['Apr_usage']=data_new['BILL_AMT5']-data_new['Apr_outstanding']
data_new['May_usage']=data_new['BILL_AMT4']-data_new['May_outstanding']
data_new['Jun_usage']=data_new['BILL_AMT3']-data_new['Jun_outstanding']
data_new['Jul_usage']=data_new['BILL_AMT2']-data_new['Jul_outstanding']
data_new['Aug_usage']=data_new['BILL_AMT1']-data_new['Aug_outstanding']

In [64]:
data_new['avg_usage']=(data_new['Apr_usage']+data_new['May_usage']+data_new['Jun_usage']+data_new['Jul_usage']+data_new['Aug_usage'])/5

In [65]:
model=ols("Apr_outstanding~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   8.182095e+09      1.0  2.541057  0.110931
Residual  9.659226e+13  29998.0       NaN       NaN

In [66]:
model=ols("May_outstanding~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   6.890192e+09      1.0  2.036566  0.153566
Residual  1.014904e+14  29998.0       NaN       NaN

In [67]:
model=ols("Jun_outstanding~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   3.406984e+09      1.0  0.903935  0.341736
Residual  1.130642e+14  29998.0       NaN       NaN

In [68]:
model=ols("Jul_outstanding~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   4.186628e+09      1.0  0.967474  0.325319
Residual  1.298127e+14  29998.0       NaN       NaN

In [71]:
model=ols("Aug_outstanding~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   1.173311e+09      1.0  0.250754  0.616548
Residual  1.403647e+14  29998.0       NaN       NaN

In [78]:
model=ols("Avg_outstanding~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df         F    PR(>F)
DEFAULT   4.376862e+09      1.0  1.241675  0.265157
Residual  1.057420e+14  29998.0       NaN       NaN

In [79]:
model=ols("Apr_usage~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   2.612877e+10      1.0  79.968545  4.017355e-19
Residual  9.801491e+12  29998.0        NaN           NaN

In [80]:
model=ols("May_usage~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   3.848536e+10      1.0  89.705119  2.960133e-21
Residual  1.286977e+13  29998.0        NaN           NaN

In [81]:
model=ols("Jun_usage~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df          F        PR(>F)
DEFAULT   5.172758e+10      1.0  79.617521  4.796145e-19
Residual  1.948973e+13  29998.0        NaN           NaN

In [82]:
model=ols("Jul_usage~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df           F        PR(>F)
DEFAULT   5.744189e+10      1.0  102.982455  3.699312e-24
Residual  1.673238e+13  29998.0         NaN           NaN

In [83]:
model=ols("Aug_usage~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df           F        PR(>F)
DEFAULT   8.110740e+10      1.0  173.525887  1.617844e-39
Residual  1.402131e+13  29998.0         NaN           NaN

In [84]:
model=ols("avg_usage~DEFAULT", data=data_new).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                sum_sq       df           F        PR(>F)
DEFAULT   4.925930e+10      1.0  293.109534  2.138343e-65
Residual  5.041394e+12  29998.0         NaN           NaN

In [85]:
model=ols("Total_risk_value~DEFAULT", data=data).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table)

                 sum_sq       df            F  PR(>F)
DEFAULT    82822.078404      1.0  2590.753192     0.0
Residual  958986.257563  29998.0          NaN     NaN

In [86]:
# Significant extracted numerical features are: Apr_usage----Aug_usage, total_usage

In [87]:
# Non-significant extracted numerical features are: Apr_outstanding-------Aug_outstanding, cumulative_outstanding

In [88]:
def age_cat(y):
    if y>=20 and y<40:
        return "Young"
    elif y>=40 and y<60:
        return "Middle Aged"
    elif y>=60 and y<80:
        return "Senior Citizens"
data_new['Age_Category']=data_new.AGE.apply(age_cat)

In [89]:
def limit_cat(x):
    if x>=10000 and x<208000:
        return "Low Limit Holder"
    elif x>=208000 and x<406000:
        return "Medium Limit Holder"
    elif x>=406000 and x<604000:
        return "High Limit Holder"
    elif x>=604000 and x<802000:
        return "Very High Limit Holder"
    elif x>=802000 and x<1000000:
        return "Ultra High Limit Holder"
data_new['Credit_Limit_Category']=data_new.LIMIT_BAL.apply(limit_cat)

In [90]:
cat_col_new=['Age_Category', 'Credit_Limit_Category']
for i in cat_col_new:
    print('Chisquare Test between DEFAULT and column',i)
    cont_table=pd.crosstab(data_new['DEFAULT'], data_new[i])
    chi_sq_Stat, p_value, deg_freedom, exp_freq=st.chi2_contingency(cont_table)
    print(p_value)

Chisquare Test between DEFAULT and column Age_Category
1.3460129210671586e-05
Chisquare Test between DEFAULT and column Credit_Limit_Category
2.8137545576000575e-99

In [91]:
# Significant extracted categorical features are: Age_Category, Credit_Limit_Category